workflows/WF0-Gestor-Universal-FINAL-CORRIGIDO.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-webhook",
        "options": {}
      },
      "name": "Chatwoot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -864,
        0
      ],
      "webhookId": "chatwoot-incoming",
      "id": "71093ab6-41a8-448e-9346-5f6efff73a8f"
    },
    {
      "parameters": {
        "jsCode": "// Identifica cliente, agente e canal\nconst payload = $input.item.json;\n\n// DEBUG: Log payload recebido (remover em produção)\nconsole.log('=== DEBUG: Payload recebido ===');\nconsole.log(JSON.stringify(payload, null, 2));\n\n// Extrair informações do webhook Chatwoot\n// ROBUSTEZ: Tenta todas as possibilidades de estrutura\nconst conversationId = payload.body?.conversation?.id || payload.conversation?.id;\nconst contactId = payload.body?.sender?.id || payload.sender?.id;\n\n// CRÍTICO: message_body com extração robusta\nconst messageBody = \n  payload.body?.body?.content ||  // Encapsulado 2x (webhook + chatwoot)\n  payload.body?.content ||        // Encapsulado 1x (webhook)\n  payload.content ||              // Direto (script teste)\n  '';\n\n// VALIDAÇÃO: Abortar se message_body vazio\nif (!messageBody || messageBody.trim() === '') {\n  console.error('❌ ERRO CRÍTICO: message_body está vazio ou undefined!');\n  console.error('Payload recebido:', JSON.stringify(payload, null, 2));\n  throw new Error('message_body não pode estar vazio. Verifique estrutura do payload.');\n}\n\nconsole.log('✅ message_body extraído:', messageBody);\n\nconst messageType = payload.body?.message_type || payload.message_type;\nconst contentType = payload.body?.content_type || payload.content_type || 'text';\n\n// Extrair custom attributes (onde guardamos client_id e agent_id)\nconst customAttributes = payload.body?.conversation?.custom_attributes || payload.conversation?.custom_attributes || {};\nconst clientId = customAttributes.client_id || 'clinica_sorriso_001';\nconst agentId = customAttributes.agent_id || 'default';\n\n// Canal (whatsapp, email, instagram, etc)\nconst channel = payload.body?.inbox?.channel_type || payload.inbox?.channel_type || 'whatsapp';\n\n// Attachments (mídia que USUÁRIO enviou)\nconst attachments = payload.body?.attachments || payload.attachments || [];\n\nreturn {\n  json: {\n    client_id: clientId,\n    agent_id: agentId,\n    conversation_id: conversationId,\n    contact_id: contactId,\n    channel: channel,\n    message_body: messageBody,\n    message_type: messageType,\n    content_type: contentType,\n    attachments: attachments,\n    has_attachments: attachments.length > 0,\n    timestamp: new Date().toISOString(),\n    original_payload: payload\n  }\n};"
      },
      "name": "Identificar Cliente e Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        0
      ],
      "id": "6a6962a1-08c9-4339-ac37-8e6631a9e179"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_type}}",
              "value2": "incoming"
            }
          ]
        }
      },
      "name": "Filtrar Apenas Incoming",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "5fd690b2-fd3a-4de3-82b6-caa09cd97dd8"
    },
    {
      "parameters": {
        "url": "https://vnlfgnfaortdvmraoapq.supabase.co/rest/v1/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "=eq.{{$json.client_id}}"
            },
            {
              "name": "agent_id",
              "value": "=eq.{{$json.agent_id}}"
            },
            {
              "name": "is_active",
              "value": "=eq.true"
            },
            {
              "name": "select",
              "value": "*,client_subscriptions(*)"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            }
          ]
        },
        "options": {}
      },
      "name": "Buscar Dados do Agente (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -96
      ],
      "id": "00ea02ed-9516-477a-8837-c21e1c0c1c5c",
      "credentials": {
        "httpCustomAuth": {
          "id": "NEn6NpNWjE7hCyWQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vnlfgnfaortdvmraoapq.supabase.co/rest/v1/rpc/search_client_media_rules",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_client_id\": \"{{$json.client_id}}\",\n  \"p_agent_id\": \"{{$json.agent_id}}\",\n  \"p_message_body\": \"{{$json.message_body}}\",\n  \"p_conversation_id\": \"{{$json.conversation_id}}\"\n}",
        "options": {}
      },
      "name": "Verificar Regras de Mídia do Acervo (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        96
      ],
      "id": "38a2adad-0673-4b28-98df-7951e574c11e",
      "credentials": {
        "httpCustomAuth": {
          "id": "NEn6NpNWjE7hCyWQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Dados (Agente + Mídia)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        0
      ],
      "id": "47a5935d-ee1c-4c2f-a4a4-bd70b25898eb"
    },
    {
      "parameters": {
        "jsCode": "// Construir contexto completo: dados do agente + mídia do acervo + mensagem original\nconst item = $input.item.json;\n\n// Dados já merged pelo node anterior\nconst webhookData = {\n  client_id: item.client_id,\n  agent_id: item.agent_id,\n  conversation_id: item.conversation_id,\n  contact_id: item.contact_id,\n  channel: item.channel,\n  message_body: item.message_body,\n  message_type: item.message_type,\n  content_type: item.content_type,\n  attachments: item.attachments,\n  has_attachments: item.has_attachments,\n  timestamp: item.timestamp\n};\n\nconst agentData = item; // Dados do agente já estão no item merged\n\n// Verificar se há dados de mídia no item (do RPC)\nlet mediaRules = [];\nif (item.rule_id && item.media_id) {\n  // RPC retornou mídia - transformar em array\n  mediaRules = [{\n    rule_id: item.rule_id,\n    media_id: item.media_id,\n    trigger_type: item.trigger_type,\n    trigger_value: item.trigger_value,\n    file_url: item.file_url,\n    file_type: item.file_type,\n    file_name: item.file_name,\n    mime_type: item.mime_type,\n    title: item.title,\n    description: item.description\n  }];\n}\n\n// Preparar informação sobre mídia do acervo para o LLM\nlet mediaContext = '';\nlet clientMediaAttachments = [];\nlet mediaLogEntries = [];\n\nif (Array.isArray(mediaRules) && mediaRules.length > 0) {\n  mediaContext = '\\n\\n--- MÍDIA DISPONÍVEL PARA ENVIO ---\\n';\n  \n  mediaRules.forEach((media, i) => {\n    mediaContext += `${i+1}. ${media.title || media.file_name} (${media.file_type})\\n`;\n    mediaContext += `   Descrição: ${media.description || 'N/A'}\\n`;\n    mediaContext += `   Disparado por: ${media.trigger_type} - \"${media.trigger_value}\"\\n\\n`;\n    \n    // Preparar attachments para Chatwoot\n    clientMediaAttachments.push({\n      file_url: media.file_url,\n      file_type: media.file_type,\n      file_name: media.file_name,\n      caption: media.title || media.description || ''\n    });\n    \n    // Preparar logs para tracking\n    mediaLogEntries.push({\n      rule_id: media.rule_id,\n      media_id: media.media_id,\n      triggered_by: media.trigger_type,\n      trigger_value: media.trigger_value\n    });\n  });\n  \n  mediaContext += 'IMPORTANTE: Mencione que você está enviando este arquivo anexo na sua resposta ao usuário!\\n';\n}\n\nreturn {\n  json: {\n    // Preservar TODOS os dados originais do webhook (incluindo message_body)\n    client_id: webhookData.client_id,\n    agent_id: webhookData.agent_id,\n    conversation_id: webhookData.conversation_id,\n    contact_id: webhookData.contact_id,\n    channel: webhookData.channel,\n    message_body: webhookData.message_body,  // ✅ IMPORTANTE!\n    message_type: webhookData.message_type,\n    content_type: webhookData.content_type,\n    attachments: webhookData.attachments,\n    has_attachments: webhookData.has_attachments,\n    timestamp: webhookData.timestamp,\n    \n    // Dados do agente\n    system_prompt: agentData.system_prompt || 'Você é um assistente útil.',\n    llm_model: agentData.llm_model || 'gpt-4o-mini',\n    tools_enabled: agentData.tools_enabled || [],\n    rag_namespace: agentData.rag_namespace,\n    \n    // Contexto de mídia do acervo\n    media_context: mediaContext,\n    client_media_attachments: clientMediaAttachments,\n    media_log_entries: mediaLogEntries,\n    has_client_media: clientMediaAttachments.length > 0,\n    \n    // Subscription data (para usage tracking)\n    subscription: agentData.client_subscriptions?.[0] || {}\n  }\n};"
      },
      "name": "Construir Contexto Completo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "bf8f0d59-999e-4fff-964d-cbad9fdc30e3"
    },
    {
      "parameters": {
        "jsCode": "// Query no RAG usando namespace isolado (PLACEHOLDER - Integrar com Pinecone/Qdrant)\nconst ragNamespace = $input.item.json.rag_namespace;\nconst messageBody = $input.item.json.message_body;\n\n// TODO: Implementar query real no vector DB\nconst ragResults = [];\n\nreturn {\n  json: {\n    ...($input.item.json),\n    rag_results: ragResults,\n    rag_context: ragResults.map(r => r.text).join('\\n\\n')\n  }\n};"
      },
      "name": "Query RAG (Namespace Isolado)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "3014ba57-0287-4a52-8690-5d32af3a0068"
    },
    {
      "parameters": {
        "jsCode": "// Preparar prompt completo para o LLM\nconst systemPrompt = $input.item.json.system_prompt;\nconst messageBody = $input.item.json.message_body;\nconst ragContext = $input.item.json.rag_context || '';\nconst mediaContext = $input.item.json.media_context || '';\n\nconst fullPrompt = systemPrompt + \n  (ragContext ? '\\n\\n--- CONTEXTO DO RAG ---\\n' + ragContext : '') +\n  mediaContext +\n  '\\n\\n--- MENSAGEM DO USUÁRIO ---\\n' + messageBody;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    llm_prompt: fullPrompt\n  }\n};"
      },
      "name": "Preparar Prompt LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ],
      "id": "a88b3bc1-2946-4a14-8c36-422961cd91f9"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "={{ $json.llm_model || 'gpt-4o-mini' }}",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.media_context + '\\n\\n--- MENSAGEM DO USUÁRIO ---\\n' + $json.message_body }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "LLM (GPT-4o-mini + Tools)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1664,
        0
      ],
      "id": "65ab5850-7176-454d-84d5-c49a1c998ded",
      "credentials": {
        "openAiApi": {
          "id": "AZOIk8m4dEU8S2FP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preservar todos os dados do contexto + adicionar resposta do LLM\nconst llmResponse = $input.item.json;\nconst previousData = $('Preparar Prompt LLM').first().json;\n\nreturn {\n  json: {\n    // Preservar TODOS os dados anteriores\n    client_id: previousData.client_id,\n    agent_id: previousData.agent_id,\n    conversation_id: previousData.conversation_id,\n    contact_id: previousData.contact_id,\n    channel: previousData.channel,\n    message_body: previousData.message_body,\n    message_type: previousData.message_type,\n    content_type: previousData.content_type,\n    attachments: previousData.attachments,\n    has_attachments: previousData.has_attachments,\n    timestamp: previousData.timestamp,\n    system_prompt: previousData.system_prompt,\n    llm_model: previousData.llm_model,\n    tools_enabled: previousData.tools_enabled,\n    rag_namespace: previousData.rag_namespace,\n    media_context: previousData.media_context,\n    client_media_attachments: previousData.client_media_attachments,\n    media_log_entries: previousData.media_log_entries,\n    has_client_media: previousData.has_client_media,\n    subscription: previousData.subscription,\n    rag_results: previousData.rag_results,\n    rag_context: previousData.rag_context,\n    llm_prompt: previousData.llm_prompt,\n    \n    // Adicionar resposta do LLM\n    choices: llmResponse.choices\n  }\n};"
      },
      "name": "Preservar Contexto Após LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        0
      ],
      "id": "d2cf60c0-7d49-44ab-bca5-ab17ef222502"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.choices?.[0]?.finish_reason}}",
              "value2": "tool_calls"
            }
          ]
        }
      },
      "name": "Chamou Tool?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2240,
        0
      ],
      "id": "07ebbb60-17c2-4560-a6f7-9e33bac6bd3d"
    },
    {
      "parameters": {
        "jsCode": "// Executar tool calls (Calendar, Sheets, CRM)\nconst toolCalls = $input.item.json.choices?.[0]?.message?.tool_calls || [];\nconst results = [];\n\nfor (const call of toolCalls) {\n  const functionName = call.function.name;\n  const args = JSON.parse(call.function.arguments);\n  \n  // TODO: Implementar chamadas reais às APIs\n  if (functionName === 'create_calendar_event') {\n    results.push({\n      tool: 'calendar',\n      result: `Evento \"${args.title}\" criado para ${args.date}`\n    });\n  } else if (functionName === 'update_sheet') {\n    results.push({\n      tool: 'sheets',\n      result: `Planilha ${args.sheet_id} atualizada`\n    });\n  }\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    tool_results: results\n  }\n};"
      },
      "name": "Executar Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        -96
      ],
      "id": "faa9ce23-9620-4a64-91d2-b64ae6127a02"
    },
    {
      "parameters": {
        "jsCode": "// Extrair resposta final do LLM e preservar TODOS os dados do contexto\nconst item = $input.item.json;\nconst llmResponse = item.choices?.[0]?.message?.content || 'Desculpe, não consegui processar sua mensagem.';\nconst toolResults = item.tool_results || [];\n\nlet finalResponse = llmResponse;\n\nif (toolResults.length > 0) {\n  finalResponse += '\\n\\n' + toolResults.map(r => r.result).join('\\n');\n}\n\nreturn {\n  json: {\n    // Preservar TODOS os campos do contexto\n    client_id: item.client_id,\n    agent_id: item.agent_id,\n    conversation_id: item.conversation_id,\n    contact_id: item.contact_id,\n    channel: item.channel,\n    message_body: item.message_body,\n    message_type: item.message_type,\n    content_type: item.content_type,\n    attachments: item.attachments,\n    has_attachments: item.has_attachments,\n    timestamp: item.timestamp,\n    system_prompt: item.system_prompt,\n    llm_model: item.llm_model,\n    tools_enabled: item.tools_enabled,\n    rag_namespace: item.rag_namespace,\n    media_context: item.media_context,\n    client_media_attachments: item.client_media_attachments,\n    media_log_entries: item.media_log_entries,\n    has_client_media: item.has_client_media,\n    subscription: item.subscription,\n    \n    // Adicionar resposta processada\n    final_response: finalResponse,\n    response_type: 'text',\n    tool_results: toolResults\n  }\n};"
      },
      "name": "Construir Resposta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        0
      ],
      "id": "0d648a4a-f47a-4089-a8f3-a6cad5e798c4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.has_client_media }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Tem Mídia do Acervo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3072,
        0
      ],
      "id": "fb5ffdf6-3f49-4150-a5a4-320d5ac52ab1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vnlfgnfaortdvmraoapq.supabase.co/rest/v1/media_send_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.media_log_entries }}",
        "options": {}
      },
      "name": "Registrar Log de Envio (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -96
      ],
      "id": "e8e30929-de94-4a60-8351-6d83fd7ba420",
      "credentials": {
        "httpCustomAuth": {
          "id": "NEn6NpNWjE7hCyWQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3648,
        0
      ],
      "id": "8541db5b-2492-46df-8db3-ba0510e3007e"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://vnlfgnfaortdvmraoapq.supabase.co/rest/v1/client_subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "=eq.{{$json.client_id}}"
            },
            {
              "name": "agent_id",
              "value": "=eq.{{$json.agent_id}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZubGZnbmZhb3J0ZHZtcmFvYXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTM1NDgsImV4cCI6MjA3NzI4OTU0OH0.Qu6ithTk2tNNG-SYQDN5BP15pb_xKufOQUhqAuwxT0U"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"total_messages\": {{($json.subscription.total_messages || 0) + 1}},\n  \"last_message_at\": \"{{$now}}\",\n  \"updated_at\": \"{{$now}}\"\n}",
        "options": {}
      },
      "name": "Atualizar Usage Tracking (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3936,
        0
      ],
      "id": "19c6960d-2c6a-4f30-b056-bbef8c8e3361",
      "credentials": {
        "httpCustomAuth": {
          "id": "NEn6NpNWjE7hCyWQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.chatwoot.com/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$json.conversation_id}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{$json.final_response}}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"attachments\": {{$json.client_media_attachments || []}}\n}",
        "options": {}
      },
      "name": "Enviar Resposta via Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4224,
        0
      ],
      "id": "27d4103a-dbec-4c35-8619-aaf6102f0fe1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6zb8BvpL6QTY95dP",
          "name": "Chatwoot Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log de erro detalhado\nconst error = $input.item.json.error || {};\nconst clientId = $input.item.json.client_id;\nconst agentId = $input.item.json.agent_id;\n\nconsole.error('ERRO NO WORKFLOW:', {\n  client_id: clientId,\n  agent_id: agentId,\n  error_message: error.message,\n  error_stack: error.stack,\n  timestamp: new Date().toISOString()\n});\n\nreturn {\n  json: {\n    ...($input.item.json),\n    final_response: 'Desculpe, ocorreu um erro temporário. Nossa equipe já foi notificada. Por favor, tente novamente em alguns instantes.',\n    is_error: true\n  }\n};"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        208
      ],
      "id": "ffb52c9c-4a34-4ae0-876e-66bab4a656bf"
    }
  ],
  "connections": {
    "Chatwoot Webhook": {
      "main": [
        [
          {
            "node": "Identificar Cliente e Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Cliente e Agente": {
      "main": [
        [
          {
            "node": "Filtrar Apenas Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Apenas Incoming": {
      "main": [
        [
          {
            "node": "Buscar Dados do Agente (HTTP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Regras de Mídia do Acervo (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados do Agente (HTTP)": {
      "main": [
        [
          {
            "node": "Merge Dados (Agente + Mídia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Regras de Mídia do Acervo (HTTP)": {
      "main": [
        [
          {
            "node": "Merge Dados (Agente + Mídia)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Dados (Agente + Mídia)": {
      "main": [
        [
          {
            "node": "Construir Contexto Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Contexto Completo": {
      "main": [
        [
          {
            "node": "Query RAG (Namespace Isolado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG (Namespace Isolado)": {
      "main": [
        [
          {
            "node": "Preparar Prompt LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt LLM": {
      "main": [
        [
          {
            "node": "LLM (GPT-4o-mini + Tools)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM (GPT-4o-mini + Tools)": {
      "main": [
        [
          {
            "node": "Preservar Contexto Após LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preservar Contexto Após LLM": {
      "main": [
        [
          {
            "node": "Chamou Tool?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamou Tool?": {
      "main": [
        [
          {
            "node": "Executar Tools",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Tools": {
      "main": [
        [
          {
            "node": "Construir Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Resposta Final": {
      "main": [
        [
          {
            "node": "Tem Mídia do Acervo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mídia do Acervo?": {
      "main": [
        [
          {
            "node": "Registrar Log de Envio (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Registrar Log de Envio (HTTP)": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final": {
      "main": [
        [
          {
            "node": "Atualizar Usage Tracking (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Usage Tracking (HTTP)": {
      "main": [
        [
          {
            "node": "Enviar Resposta via Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Chatwoot Webhook": [
      {
        "headers": {
          "host": "n8n.evolutedigital.com.br",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26200; pt-BR) PowerShell/7.5.4",
          "content-length": "570",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "application/json",
          "x-forwarded-for": "179.144.139.75",
          "x-forwarded-host": "n8n.evolutedigital.com.br",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "4fa76e5acce3",
          "x-real-ip": "179.144.139.75"
        },
        "params": {},
        "query": {},
        "body": {
          "attachments": [],
          "content_type": "text",
          "content": "qual o preço?",
          "created_at": "2025-11-07T18:43:01.350Z",
          "message_type": "incoming",
          "inbox": {
            "name": "WhatsApp Teste",
            "channel_type": "whatsapp",
            "id": 1
          },
          "conversation": {
            "custom_attributes": {
              "agent_id": "default",
              "client_id": "clinica_sorriso_001"
            },
            "status": "open",
            "id": 99999
          },
          "sender": {
            "phone_number": "+5511999999999",
            "name": "Cliente Teste",
            "id": 12345
          },
          "event": "message_created"
        },
        "webhookUrl": "https://n8n.evolutedigital.com.br/webhook/chatwoot-webhook",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "569d30e41eb76a1ea495af04713ddcb7e6304e9943292f9d85d95af4c52eb47b"
  }
}
