workflows/WF0-Gestor-Universal-COMPLETE.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-webhook",
        "options": {}
      },
      "name": "Chatwoot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1408, 208],
      "webhookId": "chatwoot-incoming",
      "id": "3fe94ed0-d7f6-4108-b37d-966d06ab408a"
    },
    {
      "parameters": {
        "jsCode": "// Identifica cliente, agente e canal\nconst payload = $input.item.json;\n\n// Extrair informações do webhook Chatwoot\nconst conversationId = payload.conversation?.id;\nconst contactId = payload.sender?.id;\nconst messageBody = payload.content || '';\nconst messageType = payload.message_type;\nconst contentType = payload.content_type;\n\n// Extrair custom attributes (onde guardamos client_id e agent_id)\nconst customAttributes = payload.conversation?.custom_attributes || {};\nconst clientId = customAttributes.client_id || 'clinica_sorriso_001';\nconst agentId = customAttributes.agent_id || 'default';\n\n// Canal (whatsapp, email, instagram, etc)\nconst channel = payload.inbox?.channel_type || 'whatsapp';\n\n// Attachments (mídia)\nconst attachments = payload.attachments || [];\n\nreturn {\n  json: {\n    client_id: clientId,\n    agent_id: agentId,\n    conversation_id: conversationId,\n    contact_id: contactId,\n    channel: channel,\n    message_body: messageBody,\n    message_type: messageType,\n    content_type: contentType,\n    attachments: attachments,\n    has_attachments: attachments.length > 0,\n    timestamp: new Date().toISOString(),\n    original_payload: payload\n  }\n};"
      },
      "name": "Identificar Cliente e Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 208],
      "id": "dff9a3df-ce2f-43b1-a8c0-7ecd5ad42859"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_type}}",
              "operation": "equals",
              "value2": "outgoing"
            }
          ]
        }
      },
      "name": "Filtrar Apenas Incoming",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-1008, 208],
      "id": "4ae9f378-ebea-4f66-8334-3303986bc050"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  a.id,\n  a.client_id,\n  a.agent_id,\n  a.template_id,\n  a.rag_namespace,\n  a.is_active,\n  t.name as template_name,\n  s.monthly_price,\n  s.status as subscription_status,\n  s.total_messages,\n  s.message_limit,\n  s.transcription_minutes_used,\n  s.transcription_minutes_limit\nFROM agents a\nLEFT JOIN agent_templates t ON a.template_id = t.template_id\nLEFT JOIN client_subscriptions s ON a.client_id = s.client_id AND a.agent_id = s.agent_id\nWHERE a.client_id = '{{$json.client_id}}'\n  AND a.agent_id = '{{$json.agent_id}}'\n  AND a.is_active = true\nLIMIT 1;",
        "options": {}
      },
      "name": "Buscar Dados do Agente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [-800, 112],
      "id": "cc1dcc8b-7435-43e5-b9e5-28e2e44ec063"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_attachments}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Tem Mídia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-608, 208],
      "id": "aee62fd6-c49a-46d0-b136-ece519824428"
    },
    {
      "parameters": {
        "jsCode": "// Processar cada attachment\nconst attachments = $input.item.json.attachments || [];\nconst processedMedia = [];\n\nfor (const attachment of attachments) {\n  const fileUrl = attachment.data_url;\n  const fileType = attachment.file_type;\n  const fileName = attachment.file_name || 'unknown';\n  \n  processedMedia.push({\n    url: fileUrl,\n    type: fileType,\n    name: fileName,\n    mime_type: attachment.content_type,\n    needs_transcription: fileType === 'audio',\n    needs_vision: fileType === 'image',\n    needs_extraction: fileType === 'file'\n  });\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    processed_media: processedMedia,\n    media_count: processedMedia.length\n  }\n};"
      },
      "name": "Classificar Tipos de Mídia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 112],
      "id": "c9e9d6d7-b0c0-4152-8754-44ef916ab0c8"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Separar por Tipo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [-208, 112],
      "id": "0e4134ed-cce3-4a61-bfa1-baf37014a769"
    },
    {
      "parameters": {
        "jsCode": "// Simular transcrição de áudio (integrar com Google Speech-to-Text ou Whisper)\nconst audioItems = $input.item.json.audio_items || [];\nconst transcriptions = [];\n\nfor (const audio of audioItems) {\n  transcriptions.push({\n    url: audio.url,\n    text: `[ÁUDIO TRANSCRITO - Placeholder - Integrar Google Speech-to-Text API]`,\n    duration_seconds: 0,\n    language: 'pt-BR'\n  });\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    transcriptions: transcriptions,\n    total_transcription_seconds: transcriptions.reduce((sum, t) => sum + t.duration_seconds, 0)\n  }\n};"
      },
      "name": "Transcrever Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -112],
      "id": "0c14304f-330e-4378-b2f3-d845bc6e5dde"
    },
    {
      "parameters": {
        "jsCode": "// Simular análise de imagem com Vision AI (integrar com GPT-4V ou Google Vision)\nconst imageItems = $input.item.json.image_items || [];\nconst visionResults = [];\n\nfor (const image of imageItems) {\n  visionResults.push({\n    url: image.url,\n    description: `[IMAGEM ANALISADA - Placeholder - Integrar GPT-4 Vision ou Google Vision API]`,\n    objects_detected: [],\n    text_in_image: ''\n  });\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    vision_results: visionResults,\n    total_images_processed: visionResults.length\n  }\n};"
      },
      "name": "Analisar Imagens (Vision AI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 48],
      "id": "7bfc625a-e36f-4f19-86ee-fabc9c53f358"
    },
    {
      "parameters": {
        "jsCode": "// Extrair texto de documentos PDF/DOCX\nconst fileItems = $input.item.json.file_items || [];\nconst extractedTexts = [];\n\nfor (const file of fileItems) {\n  extractedTexts.push({\n    url: file.url,\n    name: file.name,\n    extracted_text: `[DOCUMENTO PROCESSADO - Placeholder - Integrar extração de PDF/DOCX]`\n  });\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    extracted_documents: extractedTexts\n  }\n};"
      },
      "name": "Extrair Texto de Documentos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 256],
      "id": "585b1351-03db-42b5-9a6a-f6af241ec236"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [{}]
        },
        "options": {}
      },
      "name": "Reunir Mídia Processada",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [208, 112],
      "id": "5f134ade-c417-440c-8ca7-e77764c2f148"
    },
    {
      "parameters": {
        "jsCode": "// Construir contexto completo com texto + mídia processada\nconst messageBody = $input.item.json.message_body || '';\nconst transcriptions = $input.item.json.transcriptions || [];\nconst visionResults = $input.item.json.vision_results || [];\nconst documents = $input.item.json.extracted_documents || [];\n\nlet fullContext = messageBody;\n\nif (transcriptions.length > 0) {\n  fullContext += '\\n\\n--- ÁUDIOS TRANSCRITOS ---\\n';\n  transcriptions.forEach((t, i) => {\n    fullContext += `Áudio ${i+1}: ${t.text}\\n`;\n  });\n}\n\nif (visionResults.length > 0) {\n  fullContext += '\\n\\n--- IMAGENS ANALISADAS ---\\n';\n  visionResults.forEach((v, i) => {\n    fullContext += `Imagem ${i+1}: ${v.description}\\n`;\n  });\n}\n\nif (documents.length > 0) {\n  fullContext += '\\n\\n--- DOCUMENTOS ---\\n';\n  documents.forEach((d, i) => {\n    fullContext += `${d.name}: ${d.extracted_text}\\n`;\n  });\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    full_context: fullContext,\n    context_has_media: transcriptions.length > 0 || visionResults.length > 0 || documents.length > 0\n  }\n};"
      },
      "name": "Construir Contexto Completo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 112],
      "id": "6591620d-5dca-47fd-9bc8-7355b76b1555"
    },
    {
      "parameters": {
        "jsCode": "// Armazenar mensagem no buffer Redis (5 segundos de janela)\nconst clientId = $input.item.json.client_id;\nconst agentId = $input.item.json.agent_id;\nconst conversationId = $input.item.json.conversation_id;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    buffer_key: `${clientId}:${agentId}:${conversationId}`,\n    buffered_at: new Date().toISOString()\n  }\n};"
      },
      "name": "Buffer Redis (5s)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 112],
      "id": "9aeca098-af93-43cd-bd73-517ea86a4ba1"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Aguardar Agrupamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [800, 112],
      "id": "948ab415-67f0-4b79-8e79-38a344ecbf32",
      "webhookId": "62446d52-0bab-4382-acb0-7438b8659791"
    },
    {
      "parameters": {
        "jsCode": "// Query no RAG usando namespace isolado\nconst ragNamespace = $input.item.json.rag_namespace;\nconst fullContext = $input.item.json.full_context;\n\n// TODO: Integrar com Pinecone/Qdrant/Weaviate\nconst ragResults = [\n  {\n    text: '[RAG RESULT 1 - Placeholder - Integrar com Vector DB]',\n    score: 0.95\n  },\n  {\n    text: '[RAG RESULT 2 - Placeholder]',\n    score: 0.87\n  }\n];\n\nreturn {\n  json: {\n    ...($input.item.json),\n    rag_results: ragResults,\n    rag_context: ragResults.map(r => r.text).join('\\n\\n')\n  }\n};"
      },
      "name": "Query RAG (Namespace Isolado)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 112],
      "id": "4fd32ac8-79e8-41a8-a762-b817650a94ce"
    },
    {
      "parameters": {
        "jsCode": "// Preparar prompt para LLM com contexto completo\nconst messageBody = $input.item.json.message_body;\nconst fullContext = $input.item.json.full_context;\nconst ragContext = $input.item.json.rag_context || '';\nconst agentData = $input.item.json;\n\nconst systemPrompt = `Você é um assistente de IA configurado para ajudar ${agentData.client_id}.\n\nContexto do RAG:\n${ragContext}\n\nVocê tem acesso às seguintes ferramentas:\n- create_calendar_event: Criar eventos no Google Calendar\n- update_sheet: Atualizar planilhas Google Sheets\n- search_crm: Buscar informações no CRM\n\nResponda de forma útil e profissional.`;\n\nconst userMessage = fullContext;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    system_prompt: systemPrompt,\n    user_message: userMessage\n  }\n};"
      },
      "name": "Preparar Prompt LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 112],
      "id": "095d0bcb-58a2-4d80-abb1-a7710958c3c3"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "prompt": "={{ $json.system_prompt + '\\n\\nUser: ' + $json.user_message }}",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "name": "LLM (GPT-4o-mini + Tools)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [1408, 112],
      "id": "1a0d0436-fd62-45cc-8089-8cd3a6261768",
      "credentials": {
        "openAiApi": {
          "id": "AZOIk8m4dEU8S2FP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.choices[0].finish_reason}}",
              "operation": "equals",
              "value2": "tool_calls"
            }
          ]
        }
      },
      "name": "Chamou Tool?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 112],
      "id": "5914097b-9f0e-4f97-bc79-df67807795d6"
    },
    {
      "parameters": {
        "jsCode": "// Executar tool calls (Calendar, Sheets, CRM)\nconst toolCalls = $input.item.json.choices[0].message.tool_calls || [];\nconst results = [];\n\nfor (const call of toolCalls) {\n  const functionName = call.function.name;\n  const args = JSON.parse(call.function.arguments);\n  \n  if (functionName === 'create_calendar_event') {\n    results.push({\n      tool: 'calendar',\n      result: `Evento \"${args.title}\" criado para ${args.date}`\n    });\n  } else if (functionName === 'update_sheet') {\n    results.push({\n      tool: 'sheets',\n      result: `Planilha ${args.sheet_id} atualizada`\n    });\n  }\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    tool_results: results\n  }\n};"
      },
      "name": "Executar Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1808, 0],
      "id": "d85cba86-4385-4570-a2a6-3f384f6a5096"
    },
    {
      "parameters": {
        "jsCode": "// Extrair resposta final do LLM\nconst llmResponse = $input.item.json.choices?.[0]?.message?.content || 'Desculpe, não consegui processar sua mensagem.';\nconst toolResults = $input.item.json.tool_results || [];\n\nlet finalResponse = llmResponse;\n\nif (toolResults.length > 0) {\n  finalResponse += '\\n\\n' + toolResults.map(r => r.result).join('\\n');\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    final_response: finalResponse,\n    response_type: 'text'\n  }\n};"
      },
      "name": "Construir Resposta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 112],
      "id": "6c44281e-f34c-442d-8ce9-b6c86b0b86bd"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar regras de envio de mídia do cliente\nWITH keyword_matches AS (\n  SELECT \n    msr.id as rule_id,\n    msr.media_id,\n    msr.priority,\n    msr.send_once,\n    msr.cooldown_hours,\n    'keyword' as trigger_type,\n    array_to_string(msr.keywords, ', ') as trigger_value\n  FROM media_send_rules msr\n  WHERE msr.client_id = '{{$json.client_id}}'\n    AND (msr.agent_id = '{{$json.agent_id}}' OR msr.agent_id IS NULL)\n    AND msr.rule_type = 'keyword_trigger'\n    AND msr.is_active = true\n    AND EXISTS (\n      SELECT 1 FROM unnest(msr.keywords) kw\n      WHERE LOWER('{{$json.message_body}}') LIKE '%' || LOWER(kw) || '%'\n    )\n),\nphase_matches AS (\n  SELECT \n    msr.id as rule_id,\n    msr.media_id,\n    msr.priority,\n    msr.send_once,\n    msr.cooldown_hours,\n    'phase' as trigger_type,\n    'message_' || msr.message_number::text as trigger_value\n  FROM media_send_rules msr,\n  (\n    SELECT COUNT(*) as msg_count \n    FROM media_send_log \n    WHERE conversation_id = '{{$json.conversation_id}}'\n  ) conv\n  WHERE msr.client_id = '{{$json.client_id}}'\n    AND (msr.agent_id = '{{$json.agent_id}}' OR msr.agent_id IS NULL)\n    AND msr.rule_type = 'conversation_phase'\n    AND msr.is_active = true\n    AND msr.message_number = conv.msg_count + 1\n),\nall_matches AS (\n  SELECT * FROM keyword_matches\n  UNION ALL\n  SELECT * FROM phase_matches\n)\nSELECT \n  am.rule_id,\n  am.media_id,\n  am.trigger_type,\n  am.trigger_value,\n  cm.file_url,\n  cm.file_type,\n  cm.file_name,\n  cm.mime_type,\n  cm.title,\n  cm.description\nFROM all_matches am\nINNER JOIN client_media cm ON am.media_id = cm.id\nWHERE cm.is_active = true\n  AND (\n    am.send_once = false \n    OR NOT EXISTS (\n      SELECT 1 FROM media_send_log msl\n      WHERE msl.rule_id = am.rule_id\n        AND msl.conversation_id = '{{$json.conversation_id}}'\n    )\n  )\n  AND (\n    am.cooldown_hours IS NULL\n    OR NOT EXISTS (\n      SELECT 1 FROM media_send_log msl\n      WHERE msl.rule_id = am.rule_id\n        AND msl.conversation_id = '{{$json.conversation_id}}'\n        AND msl.sent_at > NOW() - (am.cooldown_hours || ' hours')::INTERVAL\n    )\n  )\nORDER BY am.priority ASC\nLIMIT 3;",
        "options": {}
      },
      "name": "Verificar Regras de Mídia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [2208, 112],
      "id": "e8858f48-6371-4bf4-a444-04003f7f6366"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.length}}",
              "operation": "largerThan"
            }
          ]
        }
      },
      "name": "Tem Mídia para Enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2400, 112],
      "id": "6bf662c7-4504-406e-b420-9fffeb497028"
    },
    {
      "parameters": {
        "jsCode": "// Preparar attachments para Chatwoot\nconst mediaItems = $input.all();\nconst originalData = mediaItems[0].json;\n\nconst attachments = mediaItems\n  .filter(item => item.json.file_url)\n  .map(item => ({\n    file_url: item.json.file_url,\n    file_type: item.json.file_type,\n    file_name: item.json.file_name,\n    caption: item.json.title || item.json.description || ''\n  }));\n\nconst logEntries = mediaItems.map(item => ({\n  rule_id: item.json.rule_id,\n  media_id: item.json.media_id,\n  triggered_by: item.json.trigger_type,\n  trigger_value: item.json.trigger_value\n}));\n\nreturn {\n  json: {\n    ...originalData,\n    client_media_attachments: attachments,\n    media_log_entries: logEntries,\n    has_client_media: attachments.length > 0\n  }\n};"
      },
      "name": "Preparar Mídias do Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2608, 0],
      "id": "39aeef77-d35c-48ae-a4da-e256789a6749"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Registrar envio de mídia\nINSERT INTO media_send_log (client_id, agent_id, conversation_id, rule_id, media_id, triggered_by, trigger_value)\nVALUES\n{{$json.media_log_entries.map((entry, i) => \n  `('${$json.client_id}', '${$json.agent_id}', '${$json.conversation_id}', '${entry.rule_id}', '${entry.media_id}', '${entry.triggered_by}', '${entry.trigger_value}')`\n).join(',\\n')}};\n\nSELECT 'Logs registrados' as status;",
        "options": {}
      },
      "name": "Registrar Log de Envio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [2800, 0],
      "id": "3c616d3f-7025-4ecf-b2ad-4721e512c8d2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE client_subscriptions\nSET \n  total_messages = total_messages + 1,\n  transcription_minutes_used = transcription_minutes_used + ({{$json.total_transcription_seconds || 0}} / 60.0),\n  images_processed = images_processed + {{$json.total_images_processed || 0}},\n  last_message_at = NOW(),\n  updated_at = NOW()\nWHERE client_id = '{{$json.client_id}}'\n  AND agent_id = '{{$json.agent_id}}'\nRETURNING *;",
        "options": {}
      },
      "name": "Atualizar Usage Tracking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [3008, 112],
      "id": "a1ed4437-2a1d-4de5-acc9-b63d14bb5ab6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.chatwoot.com/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$json.conversation_id}}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.final_response}}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": false
            },
            {
              "name": "attachments",
              "value": "={{$json.client_media_attachments || []}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar Resposta via Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3200, 112],
      "id": "45b0a023-f8aa-436c-a6d2-90e9a82918a4"
    },
    {
      "parameters": {
        "jsCode": "// Log de erro detalhado\nconst error = $input.item.json.error || {};\nconst clientId = $input.item.json.client_id;\nconst agentId = $input.item.json.agent_id;\n\nconsole.error('ERRO NO WORKFLOW:', {\n  client_id: clientId,\n  agent_id: agentId,\n  error_message: error.message,\n  error_stack: error.stack,\n  timestamp: new Date().toISOString()\n});\n\nreturn {\n  json: {\n    ...($input.item.json),\n    final_response: 'Desculpe, ocorreu um erro temporário. Nossa equipe já foi notificada. Por favor, tente novamente em alguns instantes.',\n    is_error: true\n  }\n};"
      },
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 304],
      "id": "9b266b3f-8f85-4182-af10-a5d8b8b9df52"
    }
  ],
  "connections": {
    "Chatwoot Webhook": {
      "main": [[{"node": "Identificar Cliente e Agente", "type": "main", "index": 0}]]
    },
    "Identificar Cliente e Agente": {
      "main": [[{"node": "Filtrar Apenas Incoming", "type": "main", "index": 0}]]
    },
    "Filtrar Apenas Incoming": {
      "main": [[{"node": "Buscar Dados do Agente", "type": "main", "index": 0}]]
    },
    "Buscar Dados do Agente": {
      "main": [[{"node": "Tem Mídia?", "type": "main", "index": 0}]]
    },
    "Tem Mídia?": {
      "main": [
        [{"node": "Classificar Tipos de Mídia", "type": "main", "index": 0}],
        [{"node": "Construir Contexto Completo", "type": "main", "index": 0}]
      ]
    },
    "Classificar Tipos de Mídia": {
      "main": [[{"node": "Separar por Tipo", "type": "main", "index": 0}]]
    },
    "Separar por Tipo": {
      "main": [
        [
          {"node": "Transcrever Áudio", "type": "main", "index": 0},
          {"node": "Analisar Imagens (Vision AI)", "type": "main", "index": 0},
          {"node": "Extrair Texto de Documentos", "type": "main", "index": 0}
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [[{"node": "Reunir Mídia Processada", "type": "main", "index": 0}]]
    },
    "Analisar Imagens (Vision AI)": {
      "main": [[{"node": "Reunir Mídia Processada", "type": "main", "index": 1}]]
    },
    "Extrair Texto de Documentos": {
      "main": [[{"node": "Reunir Mídia Processada", "type": "main", "index": 2}]]
    },
    "Reunir Mídia Processada": {
      "main": [[{"node": "Construir Contexto Completo", "type": "main", "index": 0}]]
    },
    "Construir Contexto Completo": {
      "main": [[{"node": "Buffer Redis (5s)", "type": "main", "index": 0}]]
    },
    "Buffer Redis (5s)": {
      "main": [[{"node": "Aguardar Agrupamento", "type": "main", "index": 0}]]
    },
    "Aguardar Agrupamento": {
      "main": [[{"node": "Query RAG (Namespace Isolado)", "type": "main", "index": 0}]]
    },
    "Query RAG (Namespace Isolado)": {
      "main": [[{"node": "Preparar Prompt LLM", "type": "main", "index": 0}]]
    },
    "Preparar Prompt LLM": {
      "main": [[{"node": "LLM (GPT-4o-mini + Tools)", "type": "main", "index": 0}]]
    },
    "LLM (GPT-4o-mini + Tools)": {
      "main": [[{"node": "Chamou Tool?", "type": "main", "index": 0}]]
    },
    "Chamou Tool?": {
      "main": [
        [{"node": "Executar Tools", "type": "main", "index": 0}],
        [{"node": "Construir Resposta Final", "type": "main", "index": 0}]
      ]
    },
    "Executar Tools": {
      "main": [[{"node": "Construir Resposta Final", "type": "main", "index": 0}]]
    },
    "Construir Resposta Final": {
      "main": [[{"node": "Verificar Regras de Mídia", "type": "main", "index": 0}]]
    },
    "Verificar Regras de Mídia": {
      "main": [[{"node": "Tem Mídia para Enviar?", "type": "main", "index": 0}]]
    },
    "Tem Mídia para Enviar?": {
      "main": [
        [{"node": "Preparar Mídias do Cliente", "type": "main", "index": 0}],
        [{"node": "Atualizar Usage Tracking", "type": "main", "index": 0}]
      ]
    },
    "Preparar Mídias do Cliente": {
      "main": [[{"node": "Registrar Log de Envio", "type": "main", "index": 0}]]
    },
    "Registrar Log de Envio": {
      "main": [[{"node": "Atualizar Usage Tracking", "type": "main", "index": 0}]]
    },
    "Atualizar Usage Tracking": {
      "main": [[{"node": "Enviar Resposta via Chatwoot", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "569d30e41eb76a1ea495af04713ddcb7e6304e9943292f9d85d95af4c52eb47b"
  }
}
